name: Bandit - Python SAST Tool

on: [push]

jobs: 
    sast_scan: 
        name: Run Bandit Scan
        runs-on: ubuntu-latest
        
        steps: 
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5
          with: 
            python-version: 3.8
        
        - name: Install Bandit
          run: |
            python -m pip install --upgrade pip
            pip install  bandit

        - name: Run Bandit Scan
          run: bandit -r . -f json -o bandit-report.html

        - name: Upload Artifact
          uses: actions/upload-artifact@v4
          if: always()                 #even if the steps fail, always execute this
          with:
              name: bandit-findings
              path: bandit-report.json 